
*.o
*.a
*.elf
src/padman.s
src/usbmass_bd.s
src/usbd.s
src/sio2man.s
src/mcserv.s
src/mcman.s
src/libsd.s
src/ds34usb.s
src/ds34bt.s
src/cdfs.s
src/bdmfs_vfat.s
src/bdm.s
src/audsrv.s
*.irx
src/main.js.c
