name: CI

on:
  push:
    branches:
      - '*'
    tags:
      - v*
  pull_request:
  workflow_dispatch:
  repository_dispatch:
    types: [run_build]

jobs:
  build:
    runs-on: ubuntu-latest
    container: ghcr.io/ps2homebrew/ps2homebrew:main
    steps:
    - name: git checkout
      uses: actions/checkout@v4

    - name: Workaround permission issue
      run: |
        git config --global --add safe.directory /__w/AthenaEnv/AthenaEnv
        git fetch --prune --unshallow

    - name: Compile project
      run: |
        chmod +x build-exports.sh
        make clean all

    - name: Get short SHA
      id: slug
      run: echo "sha8=$(echo ${GITHUB_SHA} | cut -c1-8)" >> $GITHUB_ENV

    - name: Upload artifacts
      if: ${{ success() }}
      uses: actions/upload-artifact@v4
      with:
        name: AthenaEnv-${{ steps.slug.outputs.sha8 }}
        path: bin

    - name: Compress & Rename bin folder
      run: |
        mv bin/ AthenaEnv/
        tar -zcvf AthenaEnv.tar.gz AthenaEnv


    - name: Create Pre-release
      if: github.ref == 'refs/heads/main'
      uses: mathieucarbou/marvinpinto-action-automatic-releases@latest
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "latest"
        title: "Development build"
        files: |
               AthenaEnv.tar.gz

    - name: Release
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v2
      with:
        files: AthenaEnv.tar.gz
        tag_name: ${{ steps.tag.outputs.VERSION }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
